.App , html {
  text-align: center;
  background-color: rgb(32, 31, 31);
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
}

footer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(153, 156, 158);
}

.enlaces {
  font-size: 30px;
}

.enlaces a i {
  padding: 10px;
  color: rgb(153, 156, 158);
}

.enlaces a i:hover{
  transition: all ease 0.3s;
  color: greenyellow;
  font-size: 35px;
}
